<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-04-12T13:25:06Z</date>
	<key>WorkspacePath</key>
	<string>/Users/briancho/Documents/GitHub/IOS/ch06-1971506-tabBarController.2/ch06-1971506-tabBarController.2.xcodeproj</string>
</dict>
</plist>
